<div class="container-xxl p-5">
  <div class="row text-center">
    <div class="col-12">
      <div class="title-body">
        <h2>注文履歴一覧</h2>
      </div>

      <table class="table table-striped mt-3" style="background-color: #fff;">
        <thead>
          <tr>
            <th>注文日時</th>
            <th>お届け先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>配送状況</th>
          </tr>
        </thead>

        <% @orders.each do |order| %>
          <tr>
            <td>
              <%= link_to "#{order.created_at.strftime('%Y/%m/%d')}", order_show_path(order)%>
            </td>
            <td><%= order.address_display %></td>
            <td>
              <% order.order_details.each do |order_detail| %>
                <%= order_detail.bento_box.name %>　<%= order_detail.amount %>個<br>
              <% end %>
            </td>
            <td>
              <%= order.total_payment %>円
            </td>
            <td>
              <%= order.status %>
            </td>
          </tr>
        <% end %>
      </table>
      <%= paginate @orders %>
    </div>
  </div>
</div>
