<div class="container-xxl p-5">
  <div class="row text-center">
    <div class="col-12">
      <div class="title-body">
        <h2>ご注文履歴詳細</h2>
      </div>
      <div class="row d-flex justify-content-center m-3">
        <div class="col-md-8 max-box d-flex flex-wrap">
          <% @nedan = 0 %>
          <% @order.order_details.each do |f| %>
            <% @nedan = @nedan + f.subtotal %>
            <div class="card m-3" style="width: 13rem;">
                <%= image_tag f.bento_box.bento_image, size:'100x100',class: "m-auto"%>
              <div class="card-body d-flex flex-column">
                <h6 class="p-2 gray"><%= f.bento_box.name %></h6>
                <p class="card-text m-1"><%= f.bento_box.price%>円</p>
                <p class="card-text m-1"><%= f.amount %>個</p>
                <p class="card-text m-1 gray">小計：　<%= f.subtotal%>円</p>
                <% if f.bento_box.is_active %>
                  <%= link_to "商品ページへ",bento_path(f.bento_box), class: "btn btn-outline-primary btn-sm stretched-link" %>
                <% else %>
                  <h6>現在取り扱っておりません</h6>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <div class="mb-0 p-2 white" style="border-radius: 10px;">
            <h6 class="mb-0 p-2 text-left gray" style="border-radius: 10px;">合計金額</h6>
            <h6 class="mt-0 p-2"><%= @nedan %>円</h6>
            <h6 class="mb-0 p-2 text-left gray" style="border-radius: 10px;">お届け先</h6>
            <h6 class="mt-0 p-2"><%= @order.address_display %></h6>
            <h6 class="mb-0 p-2 text-left gray" style="border-radius: 10px;">配送状況</h6>
            <h6 class="mt-0 p-2"><%= @order.status_i18n %></h6>
            <h6 class="mb-0 p-2 text-left gray" style="border-radius: 10px;">希望お届け時間</h6>
            <h6 class="mt-0 p-2"><%= @order.delivery_time.strftime('%Y/%m/%d %H時%M分') %></h6>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="row float-right">
    <div>
      <%= link_to "一覧に戻る",orders_path ,class: "link-color" %>
    </div>
  </div>
</div>