<div class="container-xxl p-5">
  <div class="row text-center">
    <div class="col-12">
      <div class="title-body">
        <h2>注文履歴一覧</h2>
      </div>

      <table class="table table-striped table-hover mt-3 mobile-blocky" style="background-color: #fff;">
        <thead>
          <tr>
            <th>注文日時</th>
            <th>注文者</th>
            <th>お届け先</th>
            <th>注文商品</th>
            <th>総額</th>
            <th>希望配送時間</th>
            <th>配送状況</th>
            <th>総製作時間</th>
            <th>配達時間</th>
          </tr>
        </thead>

        <% @orders.each do |order| %>
          <tr class="institution_index_tbody_tr" data-href="order/<%= order.id %>">
            <td>
              <%= link_to "#{order.created_at.strftime('%Y/%m/%d')}", order_show_path(order) %>
            </td>
            <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
            <td><%= order.address_display %></td>
            <td>
              <% order.order_details.each do |order_detail| %>
                <%= order_detail.bento_box.name %>　<%= order_detail.amount %>個<br>
              <% end %>
            </td>
            <td>
              <%= order.total_payment %>円
            </td>
            <td>
              <% if order.delivery_time %>
                <%= order.delivery_time.strftime('%Y/%m/%d %H時%M分') %>
              <% end %>
            </td>
            <td>
              <%= order.status_i18n %>
            </td>

            <% if order.order_making_time %>

              <% if order.order_making_time.end_at %>
                <td>
                  <%= order.order_making_time.elapsed_time %>
                </td>
              <% elsif order.order_making_time.start_at %>
                <td class="bg-warning">
                </td>
              <% else %>
                <td class="bg-danger">
                </td>
              <% end %>
              <% if order.order_making_time.shipping_end_at %>
                <td>
                  <%= order.order_making_time.shipping_elapsed_time %>
                </td>
              <% elsif order.order_making_time.shipping_start_at %>
                <td class="bg-warning">
                </td>
              <% else %>
                <td class="bg-danger">
                </td>
              <% end %>
            <% else %>
                <td class="bg-danger">
                </td>
                <td class="bg-danger">
                </td>
            <% end %>

          </tr>
        <% end %>
      </table>
      <%= paginate @orders %>
    </div>
  </div>
</div>
