<div class="container-xxl p-5">
  <div class="row text-center">
    <div class="col-12">
      <div class="title-body">
        <h2>注文履歴詳細</h2>
      </div>
      <% if flash[:notice] %>
        <%= notice %>
      <% end %>
      <div class="row d-flex justify-content-center m-3">
        <div class="col-md-8 max-box d-flex flex-wrap justify-content-center">
          <% @nedan = 0 %>
          <% @order.order_details.each do |f| %>
            <% @nedan = @nedan + f.subtotal %>
            <div class="card m-3" style="width: 13rem;">
                <%= image_tag f.bento_box.bento_image, size:'100x100',class: "m-auto"%>
              <div class="card-body d-flex flex-column justify-content-center">
                <h6 class="p-2 gray"><%= f.bento_box.name %></h6>
                <p class="card-text m-1"><%= f.bento_box.price%>円</p>
                <p class="card-text m-1"><%= f.amount %>個</p>
                <p class="card-text m-1 gray">小計：　<%= f.subtotal%>円</p>
                <% if f.making_status == "completed" %>
                <p class="card-text m-1 text-success"><%= f.making_status_i18n %></p>
                <% else %>
                <p class="card-text m-1 text-white bg-danger"><%= f.making_status_i18n %></p>
                <% end %>
                <% time = f.order_detail_making_time %>
                <% if time %>
                  <% if time.start_at %>
                    <p class="card-text m-1 gray">製作開始</p>
                    <p class="card-text m-1"><%= time.start_at.strftime('%Y/%m/%d %H時%M分') %></p>
                  <% end %>
                  <% if time.end_at %>
                    <p class="card-text m-1 gray">製作終了</p>
                    <p class="card-text m-1"><%= time.end_at.strftime('%Y/%m/%d %H時%M分') %></p>
                    <p class="card-text m-1 gray">製作時間</p>
                    <p class="card-text m-1"><%= time.elapsed_time %></p>
                  <% end %>
                <% end %>
                <% if f.making_status == "waiting" %>
                  <%= link_to "製作開始",admin_order_detail_update_path(@order, f), method: :put, class: "btn btn-outline-primary btn-sm stretched-link", "data-confirm" => "製作を開始しますか？" %>
                <% elsif f.making_status == "in_progress" %>
                  <%= link_to "製作終了",admin_order_detail_update_path(@order, f), method: :put, class: "btn btn-outline-primary btn-sm stretched-link", "data-confirm" => "完成しましたか？" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-4">
          <div class="mb-0 p-2" style="background-color: #ffffff; border-radius: 10px;">
            <h6 class="mb-0 p-2 text-left gray">合計金額</h6>
            <h6 class="mt-0 p-2"><%= @nedan %>円</h6>
            <h6 class="mb-0 p-2 text-left gray">お届け先</h6>
            <h6 class="mt-0 p-2"><%= @order.address_display %></h6>
            <h6 class="mb-0 p-2 text-left gray">希望お届け時間</h6>
            <h6 class="mt-0 p-2"><%= @order.delivery_time.strftime('%Y/%m/%d %H時%M分') %></h6>
            <h6 class="mb-0 p-2 text-left gray">配送状況</h6>
            <% if @order.status == "waiting_production" || @order.status == "in_production" %>
              <h6 class="mt-1 p-2 text-white bg-warning"><%= @order.status_i18n %></h6>
            <% elsif @order.status == "waiting_delivery" %>
              <h6 class="mt-1 p-2 text-white bg-danger"><%= @order.status_i18n %></h6>
              <%= link_to "配送開始",admin_order_update_path(@order), method: :put, class: "m-1 btn btn-outline-primary stretched-link", "data-confirm" => "配送準備はできていますか？" %>
            <% elsif @order.status == "delivering" %>
              <h6 class="mt-1 p-2 text-white bg-danger"><%= @order.status_i18n %></h6>
              <%= link_to "配送完了",admin_order_update_path(@order), method: :put, class: "m-1 btn btn-outline-primary stretched-link", "data-confirm" => "配送お疲れ様です" %>
            <% else %>
              <h6 class="mt-1 p-2 text-success"><%= @order.status_i18n %></h6>
            <% end %>
            <% if @order.order_making_time %>
              <% if @order.order_making_time.start_at %>
                <h6 class="mb-0 p-2 text-left gray">製作開始</h6>
                <h6 class="mt-0 p-2"><%= @order.order_making_time.start_at.strftime('%Y/%m/%d %H時%M分') %></h6>
              <% end %>
              <% if @order.order_making_time.end_at %>
                <h6 class="mb-0 p-2 text-left gray">製作終了</h6>
                <h6 class="mt-0 p-2"><%= @order.order_making_time.end_at.strftime('%Y/%m/%d %H時%M分') %></h6>
                <h6 class="mb-0 p-2 text-left gray">総製作時間</h6>
                <h6 class="mt-0 p-2"><%= @order.order_making_time.elapsed_time %></h6>
              <% end %>
              <% if @order.order_making_time.shipping_start_at %>
                <h6 class="mb-0 p-2 text-left gray">配送開始</h6>
                <h6 class="mt-0 p-2"><%= @order.order_making_time.shipping_start_at.strftime('%Y/%m/%d %H時%M分') %></h6>
              <% end %>
              <% if @order.order_making_time.shipping_end_at %>
                <h6 class="mb-0 p-2 text-left gray">配送完了時間</h6>
                <h6 class="mt-0 p-2"><%= @order.order_making_time.shipping_end_at.strftime('%Y/%m/%d %H時%M分') %></h6>
                <h6 class="mb-0 p-2 text-left gray">配送時間</h6>
                <h6 class="mt-0 p-2"><%= @order.order_making_time.shipping_elapsed_time %></h6>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row float-right">
    <div>
      <%= link_to "一覧に戻る", admin_orders_path , class: "link-color" %>
    </div>
  </div>
</div>