<div class="container-xxl p-5">
  <div class="row text-center">
    <div class="col-md-2">
      <% if @genres.present? %>
        <%= render 'admin/searches/genre.html.erb' %>
      <% end %>
    </div>
    <div class="col-md-10">
      <div class="title-body">
        <h2>弁当一覧(<%= @genre.name %>)</h2>
      </div>

      <div class="max-box d-flex flex-wrap justify-content-center">
        <% if @bentoes.present? %>
          <% @bentoes.each do |bento| %>
            <div class="card m-3" style="width: 18rem;">
              <%= image_tag bento.bento_image, class: "card-img-top", alt: bento.name %>
              <div class="card-body d-flex flex-column">
                <h5 class="card-title m-0 dark "><%= bento.name %></h5>
                <% if bento.recommended %>
                  <h6 class="recommended">おすすめ中</h6>
                <% end %>
                <p class="card-text m-0"><%= bento.introduction %></p>
                <div class="float-right">
                  <%= link_to "詳細を見る",admin_bento_path(bento), class: "btn btn-outline-dark btn-sm stretched-link" %>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <p>データが存在しません</p>
        <% end %>
      </div>
      <%= paginate @bentoes %>
    </div>
  </div>
  <div class="row float-right">
    <div>
      <%= link_to "弁当を追加する",new_admin_bento_path, class: "link-color" %>
    </div>
  </div>
</div>