<div class="container-xxl p-5">
  <div class="row text-center">
    <div class="col-12">
      <div class="title-body">
        <h2><%= @bento.name %></h2>
      </div>
      <div class="row d-flex justify-content-center m-3 white p-2">
        <% if @bento.present? %>
          <div class="col-md-8 text-left ">
            <div class="row">
              <div class="col-md-6">
                <%= image_tag @bento.bento_image,class:"img-fluid" ,style: "width:50%;" %>
              </div>
              <div class="col-md-6">
                <h6 class="gray p-2">紹介文</h6>
                　<%= @bento.introduction %>
                <h6 class="gray p-2">価格</h6>
                　<%= @bento.price %>円
                <h6 class="gray p-2">カテゴリー</h6>
                　<%= @bento.genre.name %>
                <h6 class="gray p-2">販売状況</h6>
                <% if @bento.is_active %>
                  <span class="text-success">　販売中</span>
                <% else %>
                  　販売停止中
                <% end %>
                <h6 class="gray p-2">ステータス</h6>
                <% if @bento.recommended %>
                  <h6 class="text-success">　おすすめ商品</h6>
                <% else %>
                  <%= link_to "おすすめ商品にする",admin_recommend_path(@bento), method: :put , class: " m-2 btn btn-outline-dark btn-sm" %>
                <% end %>
              </div>
            </div>
            <h4 class="gray p-2">おかず</h4>
            <div class = "row">
            <% @bento.dishes.each do |dish| %>
              <%= link_to admin_dish_path(dish) , class: "col-md-3 link-color" do %>
                <%= image_tag dish.dish_image,size: "100x60" %>
                <%= dish.name %>
              <% end %>
            <% end %>
            </div>
          </div>
        <% else %>
          <p>データが存在しません</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row float-right">
    <div>
      <%= link_to "編集する",edit_admin_bento_path(@bento),class: "mr-5 text-success" %>
      <%= link_to '削除する', admin_bento_path(@bento), method: :delete, data: { confirm: '本当に消しますか？' }, class: "text-danger mr-5"%>
      <%= link_to "弁当一覧に戻る",admin_bento_index_path ,class: "link-color" %>
    </div>
  </div>
</div>