<div class="container-xxl p-5">
  <div class="row text-center">
    <div class="col-12">
      <div class="title-body">
        <h2>弁当コック</h2>
      </div>
    </div>
  </div>
  <div class="row p-3 d-flex flex-wrap justify-content-center ">
    <div>
      <%= flash[:notice] %>
    </div>
    <div class="card-columns">

      <div class="card">
        <h5 class="card-header">弁当一覧</h5>
        <div class="card-body">
          <p class="card-text">・販売中の弁当の確認<br/>・弁当の編集</p>
          <div class="text-right">
            <%= link_to "ページへ", admin_bento_index_path, class: "btn btn-outline-dark stretched-link" %>
          </div>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">会員一覧</h5>
        <div class="card-body">
          <p class="card-text">・会員の確認<br/>・会員情報の編集</p>
          <div class="text-right">
            <%= link_to "ページへ", admin_customer_index_path, class: "btn btn-outline-dark stretched-link" %>
          </div>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">注文履歴一覧</h5>
        <div class="card-body">
          <p class="card-text">・注文履歴の確認<br/>・注文ステータスの確認</p>
          <div class="text-right">
            <%= link_to "ページへ", admin_orders_path, class: "btn btn-outline-dark stretched-link" %>
          </div>
        </div>
      </div>

      <div class="card">
        <h5 class="card-header">おかず一覧</h5>
        <div class="card-body">
          <p class="card-text">・販売中のおかずの確認<br/>・おかずの編集</p>
          <div class="text-right">
            <%= link_to "ページへ", admin_dishes_path, class: "btn btn-outline-dark stretched-link" %>
          </div>
        </div>
      </div>


      <div class="card">
        <h5 class="card-header">カテゴリー一覧</h5>
        <div class="card-body">
          <p class="card-text">・弁当カテゴリー追加・確認<br/>・おかずカテゴリー追加の編集</p>
          <div class="text-right">
            <%= link_to "ページへ", admin_genres_path, class: "btn btn-outline-dark stretched-link" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>