<div class="container bg-white my-5 p-5">
  <div>
    <h2>ショッピングカート</h2>
    <div class="text-right">
      <%= link_to "カートを空にする",  carts_destroy_all_path, method: :delete, class: "btn btn-danger text-white" %>
    </div>

    <div>
      <div>
        <%= flash[:notice] %>
      </div>
      <table class="table table-bordered mt-3">
        <thead>
          <tr class="table-warning">
            <td class="translate-middle" style="width: 30%">商品名</td>
            <td class="text_center" style="width: 10%">単価(税込)</td>
            <td class="text_center" style="width: 10%">数量</td>
            <td class="text_center" style="width: 10%">小計</td>
            <td class="text_center" style="width: 10%"></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @nedan = 0 %>
            <% @carts.each do |f| %>
            <% @nedan = @nedan + f.subtotal %>
            <td>
              <%= image_tag f.bento_box.bento_image, size:'50x50' %>
              <%= f.bento_box.name %>
            </td>
            <td><%= f.bento_box.price%>円</td>
            <td>
              <%#= cart_item.amount %>
              <%= form_with model: f, url: cart_path(f), method: :patch do |d| %>
                <%= d.select :amount, *[1..10] %>
                <%= d.submit "変更", class: "btn btn-success text-white" %>
              <% end %>
            </td>
            <td><%= f.subtotal%>円</td>
            <td><%= link_to "削除する", cart_path(f), method: :delete, class: "btn btn-danger text-white" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <div>
        <%= link_to "買い物を続ける", root_path, class: "btn btn-primary text-white" %>
      </div>
      <div class="clearfix">
        <div class="float-right">
          <table class="table table-bordered">
            <tr>
              <td class="table-warning">合計金額</td>
              <td><%= @nedan %>円</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="text-center">
        <% unless @carts.empty? %>
        <div><%= link_to "情報入力に進む", new_order_path, class: "btn btn-success text-white" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>
