<div class="container-xxl p-5">
  <div class="row text-center">
    <div class="col-12">
      <div class="title-body">
        <h2>カート</h2>
      </div>
      <div class="row d-flex justify-content-center m-3">
        <div class="col-md-8">
        <% @nedan = 0 %>
          <% @carts.each do |f| %>
            <% @nedan = @nedan + f.subtotal %>
            <div class="row">
              <div class="col-md-4">
                <%= image_tag f.bento_box.bento_image, size:'50x50' %>
                <%= f.bento_box.name %>
                <%= f.bento_box.price%>円
              </div>
              <div class="col-md-4 d-flex">
                <%= form_with model: f, url: cart_path(f), method: :patch do |d| %>
                  <%= d.number_field :amount, :placeholder => "注文個数", style: "width: 100px;" %>　個<span><%= d.submit "変更", class: "btn btn-outline-success btn-sm ml-2 mt-2" %></span>
                <% end %>
              </div>
              <div class="col-md-2">
                小計：　<%= f.subtotal%>円
              </div>
              <div class="col-md-2">
                <%= link_to "削除", cart_path(f), method: :delete, class: "btn btn-outline-danger btn-sm" %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-4">
          合計金額
          <%= @nedan %>円
          <% unless @carts.empty? %>
          <%= link_to "情報入力に進む", root_path, class: "btn btn-outline-success btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="ml-auto">
      <%= link_to "カートを空にする",  carts_destroy_all_path, method: :delete, class: "btn btn-danger text-white mr-auto" %>
    </div>
    <div class="ml-auto">
      <%= link_to "買い物を続ける", root_path, class: "mr-5" %>
      <%= link_to "弁当一覧に戻る",bento_index_path ,class: "mr-5"%>
    </div>
  </div>
</div>