
<div class="container-xxl p-5">
  <div class="row text-center">
    <div class="col-12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="title-body">
        <h2><%= f.object.last_name %>様会員情報編集</h2>
      </div>
      <%= render "public/shared/error_messages", resource: resource %>
        <div class="m-3">
          <div class="m-auto p-3 gray" style="width: 430px;">
            <div class="field text-left">
              <%= f.label :last_name,"名前" %><br />
              <%= f.text_field :last_name , autofocus: true, :placeholder => "姓" %> <%= f.text_field :first_name ,:placeholder => "名"%>
            </div>
            <div class="field text-left">
              <%= f.label :last_name_kana,"フリガナ" %><br />
              <%= f.text_field :last_name_kana ,:placeholder => "セイ" %> <%= f.text_field :first_name_kana ,:placeholder => "セイ"%>
            </div>
            <div class="field text-left">
              <%= f.label :telephone_number,"電話番号" %><br />
              <%= f.text_field :telephone_number,:placeholder => "00000000000   ハイフンなし" ,size: 46 %>
            </div>
            <div class="field text-left">
              <%= f.label :email,"メールアドレス" %><br />
              <%= f.email_field :email, autocomplete: "email",:placeholder => "email",size: 46 %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                <% end %>
            </div>

            <div class="field text-left">
              <%= f.label :post_code ,"郵便番号" %><br />
              <%= f.text_field :post_code ,:placeholder => "0000000   ハイフンなし" %>
            </div>
            <div class="field text-left">
              <%= f.label :address ,"住所" %><br />
              <%= f.text_field :address ,:placeholder => "京都府京都市",size: 46%>
            </div>
            <div class="field text-left">
              <%= f.label :password %> <i>(変更無しなら空欄)</i><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> 文字以上</em>
              <% end %>
            </div>
            <div class="field text-left">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
            <div class="field text-left">
              <%= f.label :current_password %> <i>(変更前のパスワード)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>

          </div>

          <div class="row">
            <div class="col-md-8 offset-4"><br />
              <%= f.submit "更新する" ,class: "btn btn-outline-success"%>
            </div>
          </div>

        </div>

      <% end %>
      </div>
    </div>
  <div class="row float-right">
    <div>
      <%= link_to "戻る", :back ,class: "link-color" %>
    </div>
  </div>
</div>