<div class="container-xxl p-5">
  <div class="row text-center">
    <div class="col-12">
      <div class="title-body">
        <h2>会員一覧</h2>
      </div>
      <table class="table table-striped table-hover mt-3 mobile-blocky" style="background-color: #fff;">
        <thead>
          <tr>
            <th>会員ID</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <% @customers.each do |customer| %>
          <tr class="institution_index_tbody_tr" data-href="customer/<%= customer.id %>">
            <td>
              <%= customer.id %>
            </td>
            <td><%= link_to "#{customer.last_name}#{customer.first_name}",admin_customer_path(customer) ,class: "link-color" %></td>
            <td><%= customer.email %></td>
            <td>
              <% if customer.is_active %>
                <div class="text-success">有効</div>
              <% else %>
                退会
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
       <%= paginate @customers %>
    </div>
  </div>
</div>
