<div class="container-xxl p-5">
  <div class="row text-center">
    <div class="col-12">
      <div class="title-body">
        <h2><%= @admin.name %> 情報編集</h2>
      </div>
      <%= form_with model:@admin, url:admin_admin_path(@admin), local:true do |f| %>
      <% if @admin.errors.any? %>
        <%= @admin.errors.count %>件のエラーが発生しました
        <ul>
          <% @admin.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
        <div class="m-3">
          <div class="m-auto p-3 max-width" style="background-color: #e6f5ff; width: 430px;">
            <div class="field text-left">
              <%= f.label :name,"名前" %><br />
              <%= f.text_field :name , autofocus: true, :placeholder => "名前" , class: "max-width" %>
            </div>

            <div class="field text-left">
              <%= f.label :phone_number,"電話番号" %><br />
              <%= f.text_field :phone_number,:placeholder => "00000000000   ハイフンなし" ,size: 46 , class: "max-width" %>
            </div>
            <div class="field text-left">
              <%= f.label :email,"メールアドレス" %><br />
              <%= f.email_field :email, autocomplete: "email",:placeholder => "email",size: 46 , class: "max-width" %>
            </div>
            
            <div class="field text-left">
              <%= f.label :password,"パスワード" %><i>(変更無しなら空欄)</i><br />
              <%= f.password_field :password, autocomplete: "新しいパスワード" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
          
            <div class="field text-left">
              <%= f.label :password_confirmation,"パスワード(確認)" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "パスワード(確認)" %>
            </div>
          
            <div class="field text-left">
              <%= f.label :current_password ,"現在のパスワード"%><br />
              <%= f.password_field :current_password, autocomplete: "現在のパスワード" %>
            </div>

            <div class="field text-left">
              <%= f.label :is_active ,"従業員ステータス" %><br />
                <%= f.radio_button :is_active, :true %>
                  在籍中
                <%= f.radio_button :is_active, :false %>
                  退職
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 offset-4"><br />
              <%= f.submit "更新する" ,class: "btn btn-outline-success"%>
            </div>
          </div>

        </div>

      <% end %>
      </div>
    </div>
  <div class="row float-right">
    <div>
      <%= link_to "従業員一覧に戻る",admin_admin_index_path %>
    </div>
  </div>
</div>