<div class="container-xxl p-5">
  <div class="row text-center">
    <div class="col-12">
      <div class="title-body">
        <h2>会員ログイン</h2>
      </div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="m-3 max-width">
          <div class="m-auto p-3 max-width gray" style="width: 430px;">
            <div class="field text-left">
              <%= f.label :email,"メールアドレス" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email",:placeholder => "email",size: 46 , class: "max-width" %>
            </div>
            <div class="field text-left">
              <%= f.label :password,"パスワード（6文字以上）" %><br />
              <%= f.password_field :password, autocomplete: "current-password" ,:placeholder => "password" ,size: 46 , class: "max-width" %>
            </div>
            <div class="field text-center"><br />
              <% if devise_mapping.rememberable? %>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me ,"会員情報を保存する"%>
                </div>
              <% end %>
            </div>
        </div>

        <div class="row">
          <div class="col-md-8 offset-4"><br />
            <%= f.submit "ログイン" ,class: "btn btn-outline-success" %>
          </div>
        </div>
      <% end %>
      </div>

      <div class="row float-right">
        <div>
          <%= render "public/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>