<div class="container-xxl p-5">
  <div class="row text-center">
    <div class="col-12">
      <div class="title-body">
        <h2><%= @dish.name %></h2>
      </div>
      <div class="row d-flex justify-content-center m-3">
        <% if @dish.present? %>
          <div class="col-md-8 text-left">
            <div class="row">
              <div class="col">
                <%= image_tag @dish.dish_image,class:"img-fluid" ,style: "width:100%;" %>
              </div>
              <div class="col">
                <h6 class="p-2" style="background-color: #e6f5ff;">紹介文</h6>
                　<%= @dish.introduction %>
                <h6 class="p-2" style="background-color: #e6f5ff;">販売状況</h6>
                <% if @dish.is_active %>
                  <div class="text-success">　販売中</div>
                <% else %>
                  　販売停止中
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <p>データが存在しません</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row float-right">
    <div>
      <%= link_to '削除する', admin_dish_path(@dish), method: :delete, data: { confirm: '本当に消しますか？' }, class: "text-danger mr-3"%>
      <%= link_to "一覧に戻る",admin_dishes_path ,class: "mr-2"%>
      <%= link_to "編集する",edit_admin_dish_path(@dish)%>
    </div>
  </div>
</div>